<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .noosWidgetHome{
            background-color: #D6E0EB;
            border-radius: 25px;
            padding: 16px;
            margin: 5px;
            display: inline-block;
        }

    </style>
    <meta charset="UTF-8">
    <title>Noos overview</title>
</head>
<body>
    {% for plank, imgUrl, ID in planks %}
        <a href="/plank?ID={{ID}}">
            <div class="noosWidgetHome">
                <img src="{{imgUrl}}">
                <br>{{plank}}
            </div>
        </a>
    {% endfor %}
</body>
</html>