<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ ID }}</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</head>
<body>

    You requested: {{ ID }}
    <br><button id="cEmpty" type="submit" value="CalibrateEmpty-{{ID}}">Calibrate Empty</button>
    <br><button id="cFull" type="submit" value="CalibrateFull-{{ID}}">Calibrate Full</button>

    <script>

        function getCookie(c_name){
            if (document.cookie.length > 0)
            {
                c_start = document.cookie.indexOf(c_name + "=");
                if (c_start != -1)
                {
                    c_start = c_start + c_name.length + 1;
                    c_end = document.cookie.indexOf(";", c_start);
                    if (c_end == -1) c_end = document.cookie.length;
                    return unescape(document.cookie.substring(c_start,c_end));
                }
            }
            return "";
         }

        function sendJsonToUrl(url, json) {
            $.ajax({
               url: url,
               type: "POST",
               dataType: "json",
               data: {"test": "test"},
               statusCode: {
                 200: function (your_Response_Data) {
                    // YOUR SERVER'S RESPONSE
                    // you can act on your server's
                    // response if there will be any
                    // eg. you can send back information to update UI.
                  },
                  // ... handle errors if required
                  404: function () {
                     // what to do on 404 etc.
                  }
               },
               complete: function (jqXHR, textStatus) {
                  console.log("Ajax call complete")
               }
            });
        }

        $(document).ready(function(){
            $.ajaxSetup({
                headers: { "X-CSRFToken": getCookie("csrftoken") }
            });
            console.log("Document loaded")
            $("#cEmpty").click(function (){
                console.log("Clicked cEmpty!")
                sendJsonToUrl("calibrate/", {})
            })
            $("#cFull").click(function (){
                console.log("Clicked cFull!")
                sendJsonToUrl("calibrate/", {})
            })
        });

        function sendDataToServer(value) {

        }
    </script>



</body>
</html>