<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ ID }}</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <style>
        #rEmpty{
            width:10px;
            height:10px;
            background:gray;
            display: inline-block;
        }

        #rFull{
            width:10px;
            height:10px;
            background:gray;
            display: inline-block;
        }

        .calibrationButton{
            display: inline-block;
        }
    </style>


</head>
<body>

    You requested: {{ ID }}
    <br>
    <button class="calibrationButton" id="cEmpty" type="submit" value="CalibrateEmpty-{{ID}}">Calibrate Empty</button>
    <div id="rEmpty"></div>
    <br>
    <button class="calibrationButton" id="cFull" type="submit" value="CalibrateFull-{{ID}}">Calibrate Full</button>
    <div id="rFull"></div>


    <script>

        function getCookie(c_name){
            if (document.cookie.length > 0)
            {
                c_start = document.cookie.indexOf(c_name + "=");
                if (c_start != -1)
                {
                    c_start = c_start + c_name.length + 1;
                    c_end = document.cookie.indexOf(";", c_start);
                    if (c_end == -1) c_end = document.cookie.length;
                    return unescape(document.cookie.substring(c_start,c_end));
                }
            }
            return "";
         }

        function sendJsonToUrl(url, json, cssSelector) {
            $.ajax({
               url: url,
               type: "POST",
               dataType: "json",
               data: json,
               statusCode: {
                    200: function (response) {
                        $(cssSelector).css('background-color', 'green');
                    },
                    404: function () {
                        $(cssSelector).css('background-color', 'red');
                    }
               },
               complete: function (jqXHR, textStatus) {
                  console.log("Ajax call complete")
               }
            });
        }

        $(document).ready(function(){
            $.ajaxSetup({
                headers: { "X-CSRFToken": getCookie("csrftoken") }
            });
            console.log("Document loaded")
            $("#cEmpty").click(function (){
                console.log("Clicked cEmpty!")
                $('#rEmpty').css('background-color', 'orange');
                sendJsonToUrl("calibrate/", {"ID":"{{ ID }}", "calibrate": "Empty"}, '#rEmpty')
            })
            $("#cFull").click(function (){
                console.log("Clicked cFull!")
                $('#rFull').css('background-color', 'orange');
                sendJsonToUrl("calibrate/", {"ID":"{{ ID }}", "calibrate": "Full"}, "#rFull")
            })
        });

        function sendDataToServer(value) {

        }
    </script>



</body>
</html>